// fonts variables
$primary-font: math;
$secondary-font: sans-serif;
$fantasy-font: fantasy;
$monospace-font: monospace;

// colors variables
$primary-color: #b8860b;
$secondary-color: #4682b4;
$red: red;
$dark-red: #c2185b;
$gold: #ffc107;
$purple: #6200ea;
$yellow: #ffeb3b;
$blue: #2196f3;